# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresume
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode / Swift
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/
.swiftpm/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/
.build/
dist/
